@import '../bootstrap/bootstrap'
@import '../bootstrap/bootstrap-responsive'
@import 'nib'

.header
	h1
		color white
		text-align center
		line-height 200%
	background-color rgb(101, 145, 238)

.score
	p
		color white
		line-height 200%
		text-align right
		padding 5px 10px 0 0
	background-color rgb(163, 191, 243)

.intro
	p
		text-align center

.vs
	margin-top 100px

.compare
	button
		margin-left 27%

.skip
	text-align center
	button
		margin-left 40px